body {
    background-color: rgb(37, 156, 177);
}

h1 {
    color: rgb(180, 9, 9);
    text-align: center;
}

h2 {
    color: rgb(255, 0, 221);
}

div {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

p {
    font-size: 16px;
}

